.place__title {
  width: 100%;
  margin: 0;
  font-size: 72px;
  font-weight: 900;
}

@media screen and (min-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    width: 288px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    width: 340px;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 76px;
    width: 440px;
    margin: 0;
  }
}
