.footer__menu {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
}

@media screen and (min-width: 320px) {
  .footer__menu {
    flex-direction: column;
    gap: 32px;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  .footer__menu {
    margin: 0;
    flex-direction: row;
    gap: 18px;
    font-size: 16px;
    line-height: 18px;
  }
}
