.footer__copyright {
  text-align: right;
  margin: 92px 48px 24px 0;
}

@media screen and (min-width: 320px) {
  .footer__copyright {
    text-align: left;
    font-size: 14px;
    margin-top: 48px;
  }
}

@media screen and (min-width: 320px) {
  .footer__copyright {
    margin: 0;
  }
}
