.footer__copyright {
    text-align: right;
    margin: 92px 48px 24px 0;
}

@media screen and (max-width: 768px) {
    .footer__copyright {
        margin: 90px 24px 24px 0;
    }
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        text-align: left;
        margin: 0;
        font-size: 14px;
        line-height: 14px;
        margin-top: 16px;
    }
}