.lead__image {
    display: block;
    max-width: 984px;
    margin: 0 auto 8px;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        max-width: 928px;
        margin: 0 auto 8px;
    }
}