.intro {
    max-width: 984px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .intro {
        width: 928px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        width: 720px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        width: 288px;
        margin: 0 auto;
    }
}