.cover__overlay-opacity
 {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 2;
}


.cover__overlay:hover {
  cursor: pointer;
  background: #2A2C2F;
  opacity: 0.8;
  transition: 0.2s;
}
