.place__website {
    margin: 0 auto;
    width: 100%;
    grid-area: url;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 320px){
  .place__website {
    width: 288px;
  }
}

@media screen and (min-width: 768px){
  .place__website {
    margin: auto;
    width: 100%;
  }
}
